@font-face {
  font-family: 'ArialRound';
  src: url(../fonts/Arial-Round.ttf);
}
@font-face {
  font-family: 'RobotoLight';
  src: url(../fonts/Roboto-Light.ttf);
}


$font-heading: 'ArialRound';
$font-body: 'RobotoLight';

$primary-color: #26a599;

$blue: #0091EA;
$yellow: #ffb200;
$green: #4cb6ac;
$red: #ee5250;
