// The form overlay for signing up or logging in from the homepage
#overlay-signup {
  @extend #overlay;
  background: transparentize(black, .3);

  .signup-login-toggler {
    outline: thin solid white;
    max-width: 37.5em;
    margin: 10em auto;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    border-radius:.25em;
    background: transparentize(#13232f, .1);
    box-shadow:0 .25em .625em .25em transparentize(#000000, 1);

    $body-bg: #c1bdba;
    $form-bg: #13232f;
    $white: #ffffff;

    $main: #1ab188;
    $main-light: lighten($main,5%);
    $main-dark: darken($main,5%);

    $gray-light: #a0b3b0;
    $gray: #ddd;

    $thin: 300;
    $normal: 400;
    $bold: 600;
    $br: 4px;

    // *, *:before, *:after {
    //   box-sizing: border-box;
    // }

    a {
      color:$main;
      transition:.5s ease;
      &:hover {
        color:$main-dark;
      }
    }


    ul.tab-group {
      outline: thin yellow solid;
      margin:0 0 40px 0;
      display: flex;

      li {
        outline: thin red solid;
        flex: 1 0 calc(50% - 3.75em);
        padding:.9375em;
        background:rgba($gray-light,.25);
        text-align:center;
        cursor:pointer;
        transition:.5s ease;
        &:hover {
          background:$main-dark;
          color:$white;
        }
      }
      li a {
        color:$gray-light;
        font-size:1.25em;
      }
      .active {
        background:$main;
        a { color:$white; }
      }
    }

    .tab-content > div:last-child {
      display:none;
    }

    h1 {
      text-align:center;
      color:$white;
      font-weight:$thin;
      margin:0 0 40px;
    }

    .signup, .login {
      // display: flex;

      .field-wrap {
        position:relative;
        margin-bottom:40px;
      }

      .top-row {
        &:after {
          content: "";
          display: table;
          clear: both;
        }

        > div {
          float:left;
          width:48%;
          margin-right:4%;
          &:last-child {
            margin:0;
          }
        }
      }

      label {
        position:absolute;
        transform:translateY(6px);
        left:13px;
        color:rgba($white,.5);
        transition:all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size:22px;
        .req {
        	margin:2px;
        	color:$main;
        }
      }

      label.active {
        transform:translateY(50px);
        left:2px;
        font-size:14px;
        .req {
          opacity:0;
        }
      }

      label.highlight {
      	color:$white;
      }

      input, textarea {
        font-size:22px;
        display:block;
        width:100%;
        height:100%;
        padding:5px 10px;
        background:none;
        background-image:none;
        border:1px solid $gray-light;
        color:$white;
        border-radius:0;
        transition:border-color .25s ease, box-shadow .25s ease;
        &:focus {
      		outline:0;
      		border-color:$main;
        }
      }

      textarea {
        border:2px solid $gray-light;
        resize: vertical;
      }



      .button {
        border:0;
        outline:none;
        border-radius:0;
        padding:15px 0;
        font-size:2rem;
        font-weight:$bold;
        text-transform:uppercase;
        letter-spacing:.1em;
        background:$main;
        color:$white;
        transition:all.5s ease;
        -webkit-appearance: none;
        &:hover, &:focus {
          background:$main-dark;
        }
      }

      .button-block {
        display:block;
        width:100%;
      }

      .forgot {
        margin-top:-20px;
        text-align:right;
      }
    }

  }

}

// The forms used to create new repositories and new items
form.create {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  label {
    margin-bottom: 1em;
    font-family: $font-body;
    font-weight: bold;
    color: #bdbdbd;
    span { color: $primary-color; }
  }
  input[type='text'] {
    height: 1.8em;
    margin-bottom: 2em;
    border: rgba(189,189,189,.2) thin solid;
    border-radius: .2em;
    outline: 0;
    background: rgba(0,0,0,.2);
  }
  textarea {
    @extend input[type='text'];
    height: auto;
    border-radius: .2em;
    resize: none;
  }
}

@include respond-to('tablet-portrait') {
  form.create {
    max-width: 30em;
    margin: 3em auto;
  }
}

@include respond-to('small-desktop') {
  form.create {
    min-width: 40em;
    margin-left: 2em;
    input[type="text"] {
      height: 2.2em;
    }
    textarea {
      height: 12em;
    }
  }
}

// The search bar form in the library section
form.search {
  display: flex;
  margin: 0 0 0 0;
  padding: .5em .5em 1em;

  input[type="text"] {
    flex: 1 0 100%;
    height: 2em;
    font-family: $font-body;
    text-indent: .5em;
    color: white;
    outline: 0;
    border: transparentize(white, 1);
    border-radius: .25em;
    background: $primary-color;
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 1em;
    box-shadow: 17px 15px 41px -12px rgba(0,0,0,0.75)
  }

  ::-webkit-input-placeholder { color: transparentize(white, .4); }
}

@include respond-to('tablet-landscape') {

  form.search {
    margin: 0 .5em;
    input[type="text"] {
      height: 2.5em;
      font-size: .9em;
      background-position: 99%;
      background-size: 1.2em;
    }
  }

};

@include respond-to('small-desktop') {
  form.search {
    margin: 0 0;
    padding: .5em 0 1em;
    input[type="text"] {
      // flex: 0 0 calc(100vw - 18em);
    }
  }
};
